<h1><%= title %></h1>

<p>Type in a name below, and get a timeline of what that person has been upto recently.</p>

<div class="form-inline">
	<form name="homepageform" onsubmit="return checkEmpty()" action="/timeline" method="POST">
		<label for="name">Get timeline for</label>
		<input type name="name" id="name" class="form-control" placeholder="Some person"/>
		<button class="btn btn-success" type="submit">Go!</button>
	</form>
</div>

<script>
	function checkEmpty() {
		var name = document.forms["homepageform"]["name"].value;
		if (name == "") {
			alert("Enter a name!");
			return false;
		}
		return true;
	}
</script>