<h1>Timeline Builder</h1>

<p>Type in a name below, and get a timeline of what that person has been upto recently.</p>

<div class="form-inline">
	<form name="homepageform" action="/timeline">
		<label for="name">Get timeline for</label>
		<input type name="name" id="name" class="form-control" placeholder="Some person"/>
		<button class="btn btn-default" type="submit">Go!</button>
	</form>
</div>