<div class="home">
	<h1><%= title %></h1>


	<p>Type in a search term (event / person / company...) to get a timeline.</p>

	<div class="form-inline">
		<form name="homepageform" onsubmit="return checkEmpty()" action="/timeline" method="POST">
			<input type name="name" id="name" class="form-control" placeholder="Whose timeline do you want?"/>
			<button class="btn btn-success" type="submit">Go!</button>
		</form>
	</div>

	<img src="/img/calendar.jpg" style="width:50%;height:50%">
	<script>
		function checkEmpty() {
			var name = document.forms["homepageform"]["name"].value;
			if (name == "") {
				alert("Enter a name!");
				return false;
			}
			return true;
		}
	</script>
</div>