<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/timeline.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/bevan.css"> -->

	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<!-- <link href="http://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css"> -->
	<link href="http://fonts.googleapis.com/css?family=Gudea" rel="stylesheet" type="text/css">
	
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/timeline-min.js"></script>
</head>
<body>
	<!-- <div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
				  <ul class="nav navbar-nav">
				    <li class="active"><a href="/">Home</a></li>
				    <li><a href="/about">About</a></li>
				    <li><a href="/contact">Contact</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div> -->

	<section>
		<%= yield %>
	</section>
</body>
</html>