<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/timeline.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/js/timeline-min.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>