<script type="text/javascript" src="/js/storyjs-embed.js"></script>
<script>
    var json;
    $.getJSON('/template.json', function(response) {
        json = response;
    });
    $(document).ready(function() {
        createStoryJS({
            type:       'timeline',
            width:      '100%',
            height:     '600',
            source:     json,
            embed_id:   'my-timeline'
            // font: 'Bevan-PotanoSans',
        });
    });
</script>
<div id="my-timeline"></div>

<a class="btn btn-default" href="/">Back</a>