<p>You are viewing the timeline for <strong><%= @name.capitalize %></strong></p>

<script type="text/javascript" src="/js/storyjs-embed.js"></script>
<script>
    var json = <%= @json %>;
    $(document).ready(function() {
        createStoryJS({
            type:       'timeline',
            width:      '100%',
            height:     '600',
            source:     json,
            font:       '',
            embed_id:   'my-timeline'
        });
    });
</script>

<div id="my-timeline"></div>
<a class="btn btn-info" href="/">Back</a>