<!-- <p>You are viewing the timeline for <strong><%= @name.capitalize %></strong></p> -->

<div style="text-align:center;padding-bottom:55px">
    <span style="position:absolute;font-family:'Pacifico',Georgia,serif;font-size:36px;left:20px;top:10px">Time Glider</span>
    <span style="position:absolute;right:20px;top:15px"><a class="btn btn-success" href="/">Back</a></span>
</div>


<script type="text/javascript" src="/js/storyjs-embed.js"></script>
<script>
    var json = <%= @json %>;
    $(document).ready(function() {
        createStoryJS({
            type:       'timeline',
            width:      '100%',
            height:     '600',
            source:     json,
            font:       '',
            embed_id:   'my-timeline'
        });
    });
</script>

<div id="my-timeline"></div>
